ul.categoriesList {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	list-style-type: none;
}

ul.categoriesList li {
	flex-grow: 1;
	white-space: nowrap;
	margin: 0 5px;
}
